<a href="https://colab.research.google.com/github/Rymkulova/Education/blob/main/Blossom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving sakura_first_bloom_dates.csv to sakura_first_bloom_dates.csv
Saving sakura_full_bloom_dates.csv to sakura_full_bloom_dates.csv

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [3]:
first_bl = pd.read_csv('/content/sakura_first_bloom_dates.csv')
first_bl.head()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2013,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2013-05-26,2014-05-11,2015-05-03,2016-05-13,2017-05-09,2018-05-12,2019-05-07,2020-05-10,5 14,Sargent cherry (Prunus sargentii)
1,Rumoi,False,1953-05-08,1954-05-11,1955-05-13,1956-05-08,1957-05-10,1958-05-12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii)
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2013-05-18,2014-05-02,2015-04-27,2016-05-03,2017-05-03,2018-04-30,2019-05-01,2020-05-03,5 5,Sargent cherry (Prunus sargentii)
3,Abashiri,True,1953-05-24,1954-05-16,1955-05-18,1956-05-09,NaN,NaN,1959-05-03,NaN,...,2013-05-25,2014-05-07,2015-04-30,2016-05-08,2017-05-05,2018-05-02,2019-05-05,2020-05-07,5 11,Sargent cherry (Prunus sargentii)
4,Sapporo,True,1953-05-07,1954-05-04,1955-05-11,1956-05-04,1957-05-09,NaN,1959-05-05,1960-05-05,...,2013-05-13,2014-04-29,2015-04-22,2016-04-25,2017-04-28,2018-04-26,2019-04-24,2020-04-30,5 3,NaN

In [4]:
full_bl = pd.read_csv('/content/sakura_full_bloom_dates.csv')
full_bl.head()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2013,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes
0,Wakkanai,True,1953-05-30,1954-05-27,1955-05-23,1956-05-14,1957-05-22,1958-05-25,1959-05-12,1960-05-24,...,2013-05-28,2014-05-13,2015-05-06,2016-05-15,2017-05-11,2018-05-15,2019-05-09,2020-05-12,5 17,Sargent cherry (Prunus sargentii)
1,Rumoi,False,1953-05-13,1954-05-17,1955-05-16,1956-05-14,1957-05-14,1958-05-16,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii)
2,Asahikawa,True,1953-05-16,1954-05-18,1955-05-14,1956-05-13,1957-05-14,1958-05-15,1959-05-13,1960-05-16,...,2013-05-20,2014-05-04,2015-04-28,2016-05-04,2017-05-05,2018-05-01,2019-05-04,2020-05-04,5 7,Sargent cherry (Prunus sargentii)
3,Abashiri,True,1953-05-26,1954-05-19,1955-05-20,1956-05-13,NaN,NaN,1959-05-07,NaN,...,2013-05-27,2014-05-11,2015-05-03,2016-05-10,2017-05-07,2018-05-06,2019-05-07,2020-05-09,5 14,Sargent cherry (Prunus sargentii)
4,Sapporo,True,1953-05-14,1954-05-08,1955-05-16,1956-05-09,1957-05-13,NaN,1959-05-10,1960-05-09,...,2013-05-17,2014-05-01,2015-04-26,2016-05-01,2017-05-03,2018-04-29,2019-04-29,2020-05-02,5 7,NaN

In [5]:
first_bl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 72 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Site Name                  102 non-null    object
 1   Currently Being Observed   102 non-null    bool
 2   1953                       79 non-null     object
 3   1954                       81 non-null     object
 4   1955                       82 non-null     object
 5   1956                       84 non-null     object
 6   1957                       83 non-null     object
 7   1958                       83 non-null     object
 8   1959                       86 non-null     object
 9   1960                       85 non-null     object
 10  1961                       86 non-null     object
 11  1962                       88 non-null     object
 12  1963                       89 non-null     object
 13  1964                       88 non-null     object
 14  1965                       91 non-null     object
 15  1966                       90 non-null     object
 16  1967                       89 non-null     object
 17  1968                       89 non-null     object
 18  1969                       89 non-null     object
 19  1970                       88 non-null     object
 20  1971                       92 non-null     object
 21  1972                       97 non-null     object
 22  1973                       99 non-null     object
 23  1974                       100 non-null    object
 24  1975                       99 non-null     object
 25  1976                       99 non-null     object
 26  1977                       99 non-null     object
 27  1978                       99 non-null     object
 28  1979                       100 non-null    object
 29  1980                       100 non-null    object
 30  1981                       100 non-null    object
 31  1982                       100 non-null    object
 32  1983                       100 non-null    object
 33  1984                       100 non-null    object
 34  1985                       100 non-null    object
 35  1986                       100 non-null    object
 36  1987                       100 non-null    object
 37  1988                       100 non-null    object
 38  1989                       100 non-null    object
 39  1990                       100 non-null    object
 40  1991                       101 non-null    object
 41  1992                       101 non-null    object
 42  1993                       100 non-null    object
 43  1994                       100 non-null    object
 44  1995                       101 non-null    object
 45  1996                       100 non-null    object
 46  1997                       101 non-null    object
 47  1998                       99 non-null     object
 48  1999                       98 non-null     object
 49  2000                       97 non-null     object
 50  2001                       96 non-null     object
 51  2002                       96 non-null     object
 52  2003                       93 non-null     object
 53  2004                       93 non-null     object
 54  2005                       92 non-null     object
 55  2006                       88 non-null     object
 56  2007                       84 non-null     object
 57  2008                       73 non-null     object
 58  2009                       68 non-null     object
 59  2010                       61 non-null     object
 60  2011                       59 non-null     object
 61  2012                       59 non-null     object
 62  2013                       59 non-null     object
 63  2014                       58 non-null     object
 64  2015                       58 non-null     object
 65  2016                       58 non-null     object
 66  2017                       58 non-null     object
 67  2018                       58 non-null     object
 68  2019                       58 non-null     object
 69  2020                       58 non-null     object
 70  30 Year Average 1981-2010  102 non-null    object
 71  Notes                      21 non-null     object
dtypes: bool(1), object(71)
memory usage: 56.8+ KB

In [6]:
first_bl['1953'] = pd.to_datetime(first_bl['1953'])

In [11]:
full_bl['1953'] = pd.to_datetime(full_bl['1953'])

In [7]:
first_bl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102 entries, 0 to 101
Data columns (total 72 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Site Name                  102 non-null    object
 1   Currently Being Observed   102 non-null    bool
 2   1953                       79 non-null     datetime64[ns]
 3   1954                       81 non-null     object
 4   1955                       82 non-null     object
 5   1956                       84 non-null     object
 6   1957                       83 non-null     object
 7   1958                       83 non-null     object
 8   1959                       86 non-null     object
 9   1960                       85 non-null     object
 10  1961                       86 non-null     object
 11  1962                       88 non-null     object
 12  1963                       89 non-null     object
 13  1964                       88 non-null     object
 14  1965                       91 non-null     object
 15  1966                       90 non-null     object
 16  1967                       89 non-null     object
 17  1968                       89 non-null     object
 18  1969                       89 non-null     object
 19  1970                       88 non-null     object
 20  1971                       92 non-null     object
 21  1972                       97 non-null     object
 22  1973                       99 non-null     object
 23  1974                       100 non-null    object
 24  1975                       99 non-null     object
 25  1976                       99 non-null     object
 26  1977                       99 non-null     object
 27  1978                       99 non-null     object
 28  1979                       100 non-null    object
 29  1980                       100 non-null    object
 30  1981                       100 non-null    object
 31  1982                       100 non-null    object
 32  1983                       100 non-null    object
 33  1984                       100 non-null    object
 34  1985                       100 non-null    object
 35  1986                       100 non-null    object
 36  1987                       100 non-null    object
 37  1988                       100 non-null    object
 38  1989                       100 non-null    object
 39  1990                       100 non-null    object
 40  1991                       101 non-null    object
 41  1992                       101 non-null    object
 42  1993                       100 non-null    object
 43  1994                       100 non-null    object
 44  1995                       101 non-null    object
 45  1996                       100 non-null    object
 46  1997                       101 non-null    object
 47  1998                       99 non-null     object
 48  1999                       98 non-null     object
 49  2000                       97 non-null     object
 50  2001                       96 non-null     object
 51  2002                       96 non-null     object
 52  2003                       93 non-null     object
 53  2004                       93 non-null     object
 54  2005                       92 non-null     object
 55  2006                       88 non-null     object
 56  2007                       84 non-null     object
 57  2008                       73 non-null     object
 58  2009                       68 non-null     object
 59  2010                       61 non-null     object
 60  2011                       59 non-null     object
 61  2012                       59 non-null     object
 62  2013                       59 non-null     object
 63  2014                       58 non-null     object
 64  2015                       58 non-null     object
 65  2016                       58 non-null     object
 66  2017                       58 non-null     object
 67  2018                       58 non-null     object
 68  2019                       58 non-null     object
 69  2020                       58 non-null     object
 70  30 Year Average 1981-2010  102 non-null    object
 71  Notes                      21 non-null     object
dtypes: bool(1), datetime64[ns](1), object(70)
memory usage: 56.8+ KB

In [9]:
first_bl['Site Name'].groupby(first_bl['1953'].dt.month).nunique()

1953
1.0     2
3.0    23
4.0    42
5.0    12
Name: Site Name, dtype: int64

In [17]:
pd.merge(first_bl, full_bl, how='left')

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2013,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2013-05-26,2014-05-11,2015-05-03,2016-05-13,2017-05-09,2018-05-12,2019-05-07,2020-05-10,5 14,Sargent cherry (Prunus sargentii)
1,Rumoi,False,1953-05-08,1954-05-11,1955-05-13,1956-05-08,1957-05-10,1958-05-12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii)
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2013-05-18,2014-05-02,2015-04-27,2016-05-03,2017-05-03,2018-04-30,2019-05-01,2020-05-03,5 5,Sargent cherry (Prunus sargentii)
3,Abashiri,True,1953-05-24,1954-05-16,1955-05-18,1956-05-09,NaN,NaN,1959-05-03,NaN,...,2013-05-25,2014-05-07,2015-04-30,2016-05-08,2017-05-05,2018-05-02,2019-05-05,2020-05-07,5 11,Sargent cherry (Prunus sargentii)
4,Sapporo,True,1953-05-07,1954-05-04,1955-05-11,1956-05-04,1957-05-09,NaN,1959-05-05,1960-05-05,...,2013-05-13,2014-04-29,2015-04-22,2016-04-25,2017-04-28,2018-04-26,2019-04-24,2020-04-30,5 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Kumejima,False,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata)
98,Naha,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012-12-28,2014-01-15,2015-01-15,2016-01-21,2017-01-14,2018-01-10,2019-01-10,2020-01-06,1 18,Taiwan cherry (Prunus campanulata)
99,Nago,False,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata)
100,Iriomote Island,False,NaT,NaN,1955-01-07,NaN,1957-01-16,NaN,1959-01-12,1960-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata)
101,Minamidaitojima,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013-01-07,2014-01-07,2015-01-15,2016-02-09,2017-01-27,2018-01-07,2019-01-25,2020-02-06,1 20,Taiwan cherry (Prunus campanulata)

In [18]:
pd.merge(first_bl, full_bl, how='left', left_on='Site Name', right_on='Site Name')

,Site Name,Currently Being Observed_x,1953_x,1954_x,1955_x,1956_x,1957_x,1958_x,1959_x,1960_x,...,2013_y,2014_y,2015_y,2016_y,2017_y,2018_y,2019_y,2020_y,30 Year Average 1981-2010_y,Notes_y
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2013-05-28,2014-05-13,2015-05-06,2016-05-15,2017-05-11,2018-05-15,2019-05-09,2020-05-12,5 17,Sargent cherry (Prunus sargentii)
1,Rumoi,False,1953-05-08,1954-05-11,1955-05-13,1956-05-08,1957-05-10,1958-05-12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii)
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2013-05-20,2014-05-04,2015-04-28,2016-05-04,2017-05-05,2018-05-01,2019-05-04,2020-05-04,5 7,Sargent cherry (Prunus sargentii)
3,Abashiri,True,1953-05-24,1954-05-16,1955-05-18,1956-05-09,NaN,NaN,1959-05-03,NaN,...,2013-05-27,2014-05-11,2015-05-03,2016-05-10,2017-05-07,2018-05-06,2019-05-07,2020-05-09,5 14,Sargent cherry (Prunus sargentii)
4,Sapporo,True,1953-05-07,1954-05-04,1955-05-11,1956-05-04,1957-05-09,NaN,1959-05-05,1960-05-05,...,2013-05-17,2014-05-01,2015-04-26,2016-05-01,2017-05-03,2018-04-29,2019-04-29,2020-05-02,5 7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Kumejima,False,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata)
98,Naha,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013-01-23,2014-01-27,2015-01-29,2016-02-12,2017-02-08,2018-01-30,2019-02-12,2020-02-03,2 4,Taiwan cherry (Prunus campanulata)
99,Nago,False,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata)
100,Iriomote Island,False,NaT,NaN,1955-01-07,NaN,1957-01-16,NaN,1959-01-12,1960-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Taiwan cherry (Prunus campanulata)
101,Minamidaitojima,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013-01-21,2014-01-22,2015-02-13,2016-03-01,2017-02-14,2018-01-29,2019-02-12,NaN,2 2,Taiwan cherry (Prunus campanulata)

In [19]:
first_bl['Country'] = 'Japan'

In [20]:
first_bl.head(1)

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes,Country
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2014-05-11,2015-05-03,2016-05-13,2017-05-09,2018-05-12,2019-05-07,2020-05-10,5 14,Sargent cherry (Prunus sargentii),Japan

In [21]:
first_bl.drop(columns='Notes')

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2013,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Country
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2013-05-26,2014-05-11,2015-05-03,2016-05-13,2017-05-09,2018-05-12,2019-05-07,2020-05-10,5 14,Japan
1,Rumoi,False,1953-05-08,1954-05-11,1955-05-13,1956-05-08,1957-05-10,1958-05-12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Japan
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2013-05-18,2014-05-02,2015-04-27,2016-05-03,2017-05-03,2018-04-30,2019-05-01,2020-05-03,5 5,Japan
3,Abashiri,True,1953-05-24,1954-05-16,1955-05-18,1956-05-09,NaN,NaN,1959-05-03,NaN,...,2013-05-25,2014-05-07,2015-04-30,2016-05-08,2017-05-05,2018-05-02,2019-05-05,2020-05-07,5 11,Japan
4,Sapporo,True,1953-05-07,1954-05-04,1955-05-11,1956-05-04,1957-05-09,NaN,1959-05-05,1960-05-05,...,2013-05-13,2014-04-29,2015-04-22,2016-04-25,2017-04-28,2018-04-26,2019-04-24,2020-04-30,5 3,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Kumejima,False,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Japan
98,Naha,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2012-12-28,2014-01-15,2015-01-15,2016-01-21,2017-01-14,2018-01-10,2019-01-10,2020-01-06,1 18,Japan
99,Nago,False,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Japan
100,Iriomote Island,False,NaT,NaN,1955-01-07,NaN,1957-01-16,NaN,1959-01-12,1960-02-08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Japan
101,Minamidaitojima,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2013-01-07,2014-01-07,2015-01-15,2016-02-09,2017-01-27,2018-01-07,2019-01-25,2020-02-06,1 20,Japan

In [23]:
first_bl.dropna()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes,Country
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2014-05-02,2015-04-27,2016-05-03,2017-05-03,2018-04-30,2019-05-01,2020-05-03,5 5,Sargent cherry (Prunus sargentii),Japan
6,Obihiro,True,1953-05-15,1954-05-07,1955-05-10,1956-05-05,1957-05-09,1958-05-13,1959-05-01,1960-05-11,...,2014-04-27,2015-04-26,2016-04-30,2017-05-01,2018-04-27,2019-04-28,2020-05-02,5 4,Sargent cherry (Prunus sargentii),Japan

In [24]:
first_bl.sort_values(by='30 Year Average 1981-2010')

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2014,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes,Country
27,Onahama,False,1953-04-06,1954-04-01,1955-04-03,1956-04-12,1957-04-11,1958-04-07,1959-03-30,1960-04-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,Japan
28,Wajima,False,1953-04-08,1954-04-05,1955-04-07,1956-04-13,1957-04-15,1958-04-07,1959-04-01,1960-04-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,Japan
29,Aikawa,False,1953-04-11,1954-04-06,1955-04-08,1956-04-14,1957-04-16,1958-04-08,1959-04-03,1960-04-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,Japan
85,Fukue,False,1953-03-26,1954-03-30,1955-03-23,1956-03-30,1957-04-04,1958-03-31,1959-03-20,1960-03-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,Japan
34,Takada,False,1953-04-10,1954-04-04,1955-04-03,1956-04-13,1957-04-16,1958-04-06,1959-04-03,1960-04-05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,Japan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2014-05-02,2015-04-27,2016-05-03,2017-05-03,2018-04-30,2019-05-01,2020-05-03,5 5,Sargent cherry (Prunus sargentii),Japan
9,Muroran,True,1953-05-10,1954-05-07,1955-05-18,1956-05-08,1957-05-08,1958-05-12,1959-04-27,1960-05-08,...,2014-04-29,2015-04-28,2016-04-25,2017-05-02,2018-04-29,2019-04-29,2020-05-01,5 6,NaN,Japan
3,Abashiri,True,1953-05-24,1954-05-16,1955-05-18,1956-05-09,NaN,NaN,1959-05-03,NaN,...,2014-05-07,2015-04-30,2016-05-08,2017-05-05,2018-05-02,2019-05-05,2020-05-07,5 11,Sargent cherry (Prunus sargentii),Japan
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2014-05-11,2015-05-03,2016-05-13,2017-05-09,2018-05-12,2019-05-07,2020-05-10,5 14,Sargent cherry (Prunus sargentii),Japan
7,Kushiro,True,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2014-05-12,2015-05-06,2016-05-10,2017-05-14,2018-05-12,2019-05-09,2020-05-10,5 17,Sargent cherry (Prunus sargentii),Japan

In [36]:
def blossom_time(blossom_month):
  if blossom_month <=3.0:
    return 'Early blossom'
  else:
    return 'Later blossom'

In [42]:
first_bl['Blossom_type'] = first_bl['1953'].dt.month.apply(blossom_time)

In [43]:
first_bl.head()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2015,2016,2017,2018,2019,2020,30 Year Average 1981-2010,Notes,Country,Blossom_type
0,Wakkanai,True,1953-05-21,1954-05-17,1955-05-17,1956-05-12,1957-05-18,1958-05-23,1959-05-03,1960-05-19,...,2015-05-03,2016-05-13,2017-05-09,2018-05-12,2019-05-07,2020-05-10,5 14,Sargent cherry (Prunus sargentii),Japan,Later blossom
1,Rumoi,False,1953-05-08,1954-05-11,1955-05-13,1956-05-08,1957-05-10,1958-05-12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii),Japan,Later blossom
2,Asahikawa,True,1953-05-11,1954-05-13,1955-05-09,1956-05-07,1957-05-09,1958-05-10,1959-05-08,1960-05-13,...,2015-04-27,2016-05-03,2017-05-03,2018-04-30,2019-05-01,2020-05-03,5 5,Sargent cherry (Prunus sargentii),Japan,Later blossom
3,Abashiri,True,1953-05-24,1954-05-16,1955-05-18,1956-05-09,NaN,NaN,1959-05-03,NaN,...,2015-04-30,2016-05-08,2017-05-05,2018-05-02,2019-05-05,2020-05-07,5 11,Sargent cherry (Prunus sargentii),Japan,Later blossom
4,Sapporo,True,1953-05-07,1954-05-04,1955-05-11,1956-05-04,1957-05-09,NaN,1959-05-05,1960-05-05,...,2015-04-22,2016-04-25,2017-04-28,2018-04-26,2019-04-24,2020-04-30,5 3,NaN,Japan,Later blossom